{% extends "social_auth_app/_base.html" %} {% load i18n socialaccount %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card mt-5 shadow-sm">
        <div class="card-body text-center">
          <h3 class="card-title mb-4">{% trans "Sign in with Google" %}</h3>
          <p>
            {% trans "You will be redirected to Google to authorize the application." %}
          </p>
          <a href="{% provider_login_url 'google' %}" class="btn btn-danger">
            <i class="fa fa-google fa-fw"></i>
            <span> {% trans "Continue with Google" %}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
